html {
  background-color: #ddd;
  height: 100%;
  display: flex
}

body {
  width: 100%;
  margin: auto;
}

.App {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}